{% extends "cars/base.html" %}
{% block content %}
<style>
.car-card, .comment-card {
    background-color: rgb(240, 240, 240);
    color: rgb(40, 40, 40);
    padding: 10px;
    margin: 5px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 7px;
}

.container {
    display: flex;
    justify-content: center;
}

input {
    padding: 10px;
}
</style>

<p>Информация о машине</p>
<div class="car-card">
    <p>Марка: {{ car.make }}</p>
    <p>Модель: {{ car.model }}</p>
    <p>Год выпуска: {{ car.year }}</p>
    <p>Описание: {{ car.description }}</p>
    <p>Опубликовано: {{ car.created_at }}</p>
    <p>Запись обновлена: {{ car.updated_at }}</p>
    <p>Владелец публикации: {{ car.owner }}</p>
</div>

{% if user.is_authenticated %}
    {% if user == car.owner %}
    <br><a class="action-button" href="/delete-car/{{ car.id }}">Удалить</a>
   
        <form method="post" action="/update-car/{{ car.id }}">
            {% csrf_token %}
            <p>Редактирование:</p>
            <label for="make">Марка:</label>
            <input name="make" id="make" value="{{ car.make }}"><br><br>

            <label for="model">Модель:</label>
            <input name="model" id="model" value="{{ car.model }}"><br><br>

            <label for="year">Год выпуска:</label>
            <input name="year" id="year" value="{{ car.year }}"><br><br>

            <label for="description">Описание:</label>
            <textarea name="description" id="description">{{ car.description }}</textarea><br><br>
            <button type="submit" class="action-button">Обновить</button><br><br>
        </form>
    
    {% endif %}
{% endif %}

<p>Комментарии</p>
{% if user.is_authenticated %}
    <form method="post" action="/add-comment/{{ car.id }}">
        {% csrf_token %}
        <textarea name="content" id="content"></textarea><br><br>
        <button type="submit" class="action-button">Отправить комментарий</button><br><br>
    </form>
{% else %}
    <p>Войдите в аккаунт для возможности оставлять комментарии</p>
{% endif %}

{% for comment in comments %}
    <div class="comment-card">
        <div>{{ comment.author }} ({{ comment.created_at }})</div>
        <div>{{ comment.content }}</div>
    </div>
{% endfor %}
{% endblock content %}